<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Authentication</title><!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <style>
           body {
            background: url("http://pre13.deviantart.net/0f51/th/pre/f/2006/352/7/d/matrix_by_ladrilho.png") no-repeat;
            background-size: 100%;
           }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form action="/auth" method="post">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input class="form-control" type="email" name="email" maxlength="32">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" maxlength="32">
                        </div>
                        <label class="mailbox__auth__remember" for="check_box">
                          <input name="check_box" value="1" checked="checked" type="checkbox" placeholder="Ramember me">
                          <p style="background-color: white;">кекнуть трижды</p>
                        </label>
                        <div class="col-md-4 col-md-offset-4">
                        <input class="btn btn-default" type="submit" value="submit">
                      </div>
                    </form>
                </div>
            </div>
            {% if error  %}
            <div class="row">
                <div class="col-md-2 col-md-offset-5 bg-danger text-center">
                    {{ error }}
                </div>
            </div>
            {% end %}
        </div>
    </body>
</html>
