<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified jQuery -->
    <script   src="/static/vendor/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>LETS SHOUT A BIT</title>
    <style media="screen">
      #field {
        height: 400px;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 sol-sm-offset-1 col-md-6 col-md-offset-3">
          <div id="field" class="col-md-12"></div>
          <div class="form-group">
            <label for="text"></label>
            <textarea id="text" class="form-control" rows="3"></textarea>
            <a id="submit" class="btn btn-primary text-center">submit</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var hostname = "{{ hostname }}";
  </script>
  <script src="/static/ws.js"></script>
</html>
