<!DOCTYPE html>
<html>
<head>Tittle</head>
    <body>
        <form action="/slack" method="post" name="slackForm">
            <input type="text" name="link" placeholder="Slack webhook link" value="{{ link }}">
            <input name="message" type="text" value="{{ message }}">
            <input type="submit" value="submit">
        </form>
        <div>
            {{ response }}
        </div>
    </body>
</html>
